<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<!-- 
    axios使用,Ajax的封装,请求后台获取参数,Springboot-VUE-demo

    整合一套完整的增删改查,发送请求到Springboot应用,未实现分页
-->

<body>

    <div id="app">
        <!--  -->
        文章分类:<input type="text" v-model="searchConditions.category" />

        <br />
        <!--  -->
        发布状态:<input type="text" v-model="searchConditions.state">

        <br />

        <button v-on:click="search">搜索</button>
        <button v-on:click="clear">重制</button>

        <br />
        <br />

        <table border="1 solid" colspan="0" cellspacing="0">
            <tr>
                <th>文章标题</th>
                <th>分类</th>
                <th>发表时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr v-for="(article,index) in articleList">
                <td>{{article.title}}</td>
                <td>{{article.category}}</td>
                <td>{{article.time}}</td>
                <td>{{article.state}}</td>
                <td>
                    <button>编辑</button>
                    <button>删除</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- 引入 Axios 的js文件 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 引入VUE模块 -->
    <script type="module">
        // createApp函数,from引入关键字
        import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
        /*创建VUE应用实例*/
        createApp({
             // 需要用到的数据
             data() {
                // 定义数据
                return {
                    searchConditions: {
                        category: "",
                        state: ""
                    },
                    articleList: []
                };
            },
            // VUE挂在完毕,钩子函数mounted中,获取所有文章数据
            mounted: function () {
                // 发送请求
                /*axios({
                    methods:"post",
                    url:"http://localhost:8080/articleController/getAll"
                }).then(result =>{
                    // 成功的回调
                    // result 表示服务器响应的所有的数据,包含了响应头,响应体,result.data 代表的是接口响应的核心数据
                    console.log(result.data);
                    this.articleList = result.data;
                }).catch(err =>{
                    // 失败的回调
                    console.log(err);
                });*/

                // 别名方式发送请求,推荐
                axios.post("http://localhost:8080/articleController/getAll").then(result => {
                    // 成功的回调
                    // result 表示服务器响应的所有的数据,包含了响应头,响应体,result.data 代表的是接口响应的核心数据
                    console.log(result.data);
                    this.articleList = result.data;

                }).catch(err => {
                    // 失败的回调
                    console.log(err);
                });

            },
            // 需要用到的方法
            methods: {
                /*搜索按钮*/
                search: function () {
                    // 发送请求,请求的入参放第二个参数中
                    axios.post("http://localhost:8080/articleController/search",this.searchConditions).then(result => {
                    // 成功的回调
                    // result 表示服务器响应的所有的数据,包含了响应头,响应体,result.data 代表的是接口响应的核心数据
                    console.log(result.data);
                    this.articleList = result.data;
                }).catch(err => {
                    // 失败的回调
                    console.log(err);
                });
                },
                /*重制按钮,清空数据*/
                clear: function () {
                    // 在methods对应的方法里面,使用this就代表的是vue实例,可以使用this获取到vue实例中准备的数据
                    this.searchConditions.category = "";
                    this.searchConditions.state = "";
                }
            }
        }).mount("#app");//控制页面元素
    </script>


</body>

</html>